.main-image{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
	padding-left: 0;
	margin-right: 80px;
	margin-bottom: 35px;
	max-height: 350px;
	max-width: auto;
}

.main-product-detail{
	margin-left: 70px;
}

/* .sub-image{
	width: 100%;
	height: auto;
	margin-left: 55px;
} */

#padding-margin-0{
	padding-left: 0;
	margin-left: 0;
}

#product-detail-header{
	display: inline-block;
	margin-top: 80px;
	margin-left: 20px;
}

li{

	color:rgb(48, 152, 248);
}

#item-cart-increment{
	/* width: 30%; */
	/* float: left; */
	float: none;
    margin: 0 auto;
}


#addcart-button{
	transform: scale(1.5);
	background-color: #ff5722;
	border: red;
}

@media only screen and (max-width: 1300px) {
	.main-image{
		margin-right: 0px;
	}
	
	#product-detail-header{
		display: inline-block;
		margin-top: 0px;
		margin-left: 0px;
	}
	
	#item-cart-increment{
		width: 40%;
		/* margin-left: 110px; */
		margin-bottom: 50px;
	}
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
